service cloud.firestore {
  match /databases/{database}/documents {

    // Zugriff auf Kommentare unterhalb jedes Schülers erlauben
    match /schueler/{schuelerId}/kommentare/{commentId} {
      allow read, write: if true;
    }

    // Alles andere ist gesperrt
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

